*{box-sizing:border-box}

body{
  margin:0;
  background:#87ceeb;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:Arial;
  overflow:hidden;
}

#game{
  position:relative;
}

canvas{
  background:#7bd35a;
  border:5px solid #222;
  border-radius:12px;
}

.top{
  position:absolute;
  top:10px;
  left:15px;
  right:15px;
  display:flex;
  justify-content:space-between;
  color:white;
  font-size:17px;
  text-shadow:2px 2px #333;
}

#over{
  display:none;
  position:absolute;
  inset:0;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  color:white;
  font-size:30px;
  font-weight:bold;
  text-align:center;
  background:#0009;
}

button{
  padding:10px 20px;
  margin-top:15px;
  border:3px solid #222;
  border-radius:8px;
  font-size:17px;
  cursor:pointer;
}
